$decstop: 1440px;
$tablet: 768px;
$mobile: 375px;
$dark: #000;
$light : #fff;
$headingFont: 'bebas_neuebold', sans-serif;
$contentFont: 'museo_sans_cyrl500', sans-serif;
$stylesListFont: 'robotobold', sans-serif;
$headingGradient: linear-gradient(180deg, #BF8842 0%, #C49559 54.69%, #DBBA93 100%);
$accentColor: #AC894F;  
$buttonGradient: linear-gradient(180deg, #FFAE41 -11.39%, #FBDA66 36.33%, #D17D0E 87.13%);   
$wrapperWidth1920: 75%;
$wrapperWidth1366: 85%;
$wrapperWidthLarge: 60%;
