html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  background: LightSeaGreen url(../img/1.png);
  background-blend-mode: hard-light;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.maintext {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1% 2%;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000;
  width: 60%;
  height: 70%;
}

.img_size {
  width: 95%;
  position: relative;
}

.center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.d-w {
  width: 5%;
  position: absolute;
  z-index: 100;
  top: 2%;
  left: 1%;
  -webkit-border-radius: 80px;
          border-radius: 80px;
}

.d-w:hover {
  -webkit-box-shadow: inset 0 0 100px #ad0043;
          box-shadow: inset 0 0 100px #ad0043;
  -webkit-transition-duration: 550ms;
       -o-transition-duration: 550ms;
          transition-duration: 550ms;
}

.logo {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu_icon {
  width: 100%;
}

.name {
  font-family: Baskerville Old Face;
}

.motto {
  font-family: Corinthia;
}

.name {
  margin-bottom: -15%;
  margin-top: -23%;
}

.motto {
  padding-left: 2%;
  margin-bottom: -13%;
  margin-top: 12%;
}

.fluid-font-size {
  font-size: 16px;
}

@media (min-width: 480px) {
  .fluid-font-size {
    font-size: 18px;
    font-size: -webkit-calc( 0.01 * 100vw + 11.2px);
    font-size: calc( 0.01 * 100vw + 11.2px);
  }
}

@media (min-width: 1280px) {
  .fluid-font-size {
    font-size: 24px;
  }
}

.name-font-size {
  font-size: 145px;
}

@media (min-width: 1280px) {
  .name-font-size {
    font-size: -webkit-calc( 0.13672 * 100vw + -30px);
    font-size: calc( 0.13672 * 100vw + -30px);
  }
}

@media (min-width: 2560px) {
  .name-font-size {
    font-size: 320px;
  }
}

.motto-font-size {
  font-size: 55px;
}

@media (min-width: 1280px) {
  .motto-font-size {
    font-size: -webkit-calc( 0.05078 * 100vw + -10px);
    font-size: calc( 0.05078 * 100vw + -10px);
  }
}

@media (min-width: 2560px) {
  .motto-font-size {
    font-size: 120px;
  }
}

#L_1 {
  width: 3px;
  height: 3px;
  background-color: #000;
  top: -1%;
  left: 4%;
  position: absolute;
}

#L_2 {
  width: 3px;
  height: 3px;
  background-color: #000;
  top: 8%;
  left: -1%;
  position: absolute;
}

.all {
  height: 100%;
  background: teal url(../img/1.png);
  background-blend-mode: screen;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: absolute;
}

.about {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000;
  z-index: 1;
  opacity: 0;
}

.about-ul {
  list-style-type: none;
}

.about-li {
  text-align: justify;
  text-indent: 2%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 7%;
  font-family: eurofurence light;
  font-weight: 500;
}

.about-li:before {
  content: url(../img/point.png);
  z-index: -1;
  position: absolute;
  text-indent: -10%;
}

.about-wrap {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 95vw;
  top: 9.5%;
  left: 5%;
}

.about-font-size {
  font-size: 23px;
}

@media (min-width: 1280px) {
  .about-font-size {
    font-size: -webkit-calc( 0.00937 * 100vw + 11px);
    font-size: calc( 0.00937 * 100vw + 11px);
  }
}

@media (min-width: 2560px) {
  .about-font-size {
    font-size: 35px;
  }
}

.about-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9%;
  width: 95%;
  opacity: 0;
}

.about-title-1 {
  width: 4%;
  font-family: Baskerville Old Face;
}

.about-title-1-font-size {
  font-size: 40px;
}

@media (min-width: 1280px) {
  .about-title-1-font-size {
    font-size: -webkit-calc( 0.04688 * 100vw + -20px);
    font-size: calc( 0.04688 * 100vw + -20px);
  }
}

@media (min-width: 2560px) {
  .about-title-1-font-size {
    font-size: 100px;
  }
}

.about-title-2 {
  font-family: Corinthia;
}

.about-title-2-font-size {
  font-size: 86px;
}

@media (min-width: 1280px) {
  .about-title-2-font-size {
    font-size: -webkit-calc( 0.04219 * 100vw + 32px);
    font-size: calc( 0.04219 * 100vw + 32px);
  }
}

@media (min-width: 2560px) {
  .about-title-2-font-size {
    font-size: 140px;
  }
}

.about-nav {
  width: 80%;
  margin-left: auto;
  list-style-type: none;
  z-index: 5;
}

.about-foot {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  z-index: 1;
  opacity: 0;
}

.about-foot-ul {
  list-style-type: none;
  width: 24%;
  padding-left: 4%;
  font-family: eurofurence light;
}

.about-foot a {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}

.about-foot a:hover {
  opacity: 1;
}

.about-foot-li {
  padding-top: 5%;
}

.about-foot-li img {
  width: 10%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  opacity: 0.8;
}

.about-foot-li p {
  margin-left: 15%;
  margin-top: -11%;
}

.c1 {
  background-color: rgba(39, 174, 214, 0.5);
}

.c2 {
  background-color: rgba(125, 81, 158, 0.5);
}

.c3 {
  background-color: rgba(66, 155, 208, 0.5);
}

.c4 {
  background-color: rgba(58, 98, 152, 0.5);
}

.s-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  width: 12%;
}

.s-icons img {
  width: 60%;
  opacity: 0.6;
}

.s-icons img:hover {
  opacity: 1;
}

.op {
  opacity: 0.8;
}

.cpr {
  font-family: eurofurence light;
  letter-spacing: 5px;
  opacity: 0.2;
  padding-left: 3%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.contacts-title-font-size {
  font-size: 56px;
}

@media (min-width: 1280px) {
  .contacts-title-font-size {
    font-size: -webkit-calc( 0.04219 * 100vw + 2px);
    font-size: calc( 0.04219 * 100vw + 2px);
  }
}

@media (min-width: 2560px) {
  .contacts-title-font-size {
    font-size: 110px;
  }
}

.partnership-title-font-size {
  font-size: 41px;
}

@media (min-width: 1280px) {
  .partnership-title-font-size {
    font-size: -webkit-calc( 0.04219 * 100vw + -13px);
    font-size: calc( 0.04219 * 100vw + -13px);
  }
}

@media (min-width: 2560px) {
  .partnership-title-font-size {
    font-size: 95px;
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding: 1%;
  color: #000;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: eurofurence;
  font-weight: 900;
}

.btn-font-size {
  font-size: 12px;
}

@media (min-width: 1280px) {
  .btn-font-size {
    font-size: -webkit-calc( 0.01406 * 100vw + -6px);
    font-size: calc( 0.01406 * 100vw + -6px);
  }
}

@media (min-width: 2560px) {
  .btn-font-size {
    font-size: 30px;
  }
}

.btn:before, .btn:after {
  content: '';
  position: absolute;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  -webkit-transition-delay: .4s;
       -o-transition-delay: .4s;
          transition-delay: .4s;
}

.btn:hover:before {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.btn:hover:after {
  background: #fff;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

/* From Left */
.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border: 2px solid #fff;
  border-left: 0;
  border-right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shops-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  opacity: 0;
}

#shops {
  height: 100%;
  width: 20%;
}

#YMapsID {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.contacts-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 60%;
}

.contacts-bcg {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  -webkit-box-shadow: 0 0 100px #000;
          box-shadow: 0 0 100px #000;
  z-index: 1;
  opacity: 0;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  padding-top: 1%;
  padding-left: 2%;
  height: 90%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  font-family: eurofurence light;
}

.cont_name {
  text-align: justify;
  width: 50%;
}

.cont {
  padding: 3%  4%;
}

.cont-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 2%;
  padding-left: 2%;
}

#contacts_map {
  width: 100%;
  height: 35%;
}

#YMapsID-1 {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 15%;
}

table {
  width: 95%;
  margin: 0 auto;
}

.contacts-form {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 95%;
  margin: 1% auto;
  padding-bottom: 3%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: eurofurence light;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.form label {
  display: inline-block;
  width: 25%;
  padding: 1%;
}

.form input, .form textarea {
  width: 50%;
}

.form input {
  height: 10%;
}

.form textarea {
  margin-top: 2%;
}

.input, .area {
  width: 45%;
  padding-left: 5%;
}

.top {
  vertical-align: top;
}

.submit {
  margin-top: 3%;
}

.submit input {
  width: 15%;
  margin-left: 63%;
  font-family: eurofurence light;
  font-size: 80%;
}
