@font-face {
    font-family: 'bebas_neuebold';
    src: url('/assets/fonts/bebas-neue-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuebook';
    src: url('/assets/fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('/assets/fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuelight';
    src: url('/assets/fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('/assets/fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neueregular';
    src: url('/assets/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bebas_neuethin';
    src: url('/assets/fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('/assets/fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_sans_cyrl100_italic';
    src: url('/assets/fonts/museosanscyrl_100_italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_100_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl100';
    src: url('/assets/fonts/museosanscyrl_100-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl300_italic';
    src: url('/assets/fonts/museosanscyrl_300_italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_300_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('/assets/fonts/museosanscyrl_300-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl500_italic';
    src: url('/assets/fonts/museosanscyrl_500_italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_500_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('/assets/fonts/museosanscyrl_500-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl700_italic';
    src: url('/assets/fonts/museosanscyrl_700_italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_700_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl700';
    src: url('/assets/fonts/museosanscyrl_700-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl900_italic';
    src: url('/assets/fonts/museosanscyrl_900_italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_900_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_cyrl900';
    src: url('/assets/fonts/museosanscyrl_900-webfont.woff2') format('woff2'),
         url('/assets/fonts/museosanscyrl_900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobold';
    src: url('/assets/fonts/roboto-bold_0-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}