//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

// $btn-width  : 250px !default;
// $btn-height : 80px !default;
// $color1 : #fff;
// $color2 : #e91e63;
// $lineheight : 80px;
// $margin : 25px;
// $trans_delay : .1s;



.btn{
  display:block;
  width: 7%
  height:$btn-height;
  border:1px solid $color1;
  overflow:hidden;
  color:$color1;
  line-height:$lineheight;
  text-transform:capitalize;
  float:left;
  z-index:1;
  margin: $margin;
  border-radius:3px;
  font-size:1.2em;
  position:relative;
  -webkit-transition: 1s ease-out;
   transition: 1s ease-out;
}


/*--------------- letter_spacing ---------------------*/
[data-type="letter_spacing"]{
  border:none;
  &:before{
    content:'';
    display:block;
    width:100%;
    height:2px;
    position:absolute;
    top:0;
    left:0;
    background:$color1;
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
  }
  &:after{
    content:'';
    display:block;
    width:100%;
    height:2px;
    position:absolute;
    bottom:0;
    left:0;
    background:$color1;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
  }
  &:hover{
    letter-spacing:2px;
    color:$color1;
    &:before,
    &:after{
      -webkit-transform:translateX(0%);
      transform:translateX(0%);
      }
  }
}